/* Patrocinadores */

/* .Est_Pat {
    padding: 100px 0;
}
.Est_Pat .Est_Pat_Int .Est_Pat_Int_Lis {
    display: flex;
    gap: 20px;
}

.Est_Pat .Est_Pat_Int .Est_Pat_Int_Lis .Est_Pat_Int_Lis_Ite {
    width: calc((100% / 5) - 20px);
    max-height: 100px;
}

.Est_Pat .Est_Pat_Int .Est_Pat_Int_Lis .Est_Pat_Int_Lis_Ite img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: contrast(0.3);
} */


.Est_Pat {
    width: 100%;
}

.Est_Pat_Int {
    --gap: 1rem;
    padding: 30px 0;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    position: relative;
}

.Est_Pat_Int:hover .Est_Pat_Int_Lis {
    animation-play-state: paused;
}

.Est_Pat_Int_Lis {
    display: flex;
    gap: 20px;

    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: ScrollLeft infinite linear 40s;
}

.Est_Pat_Int_Lis img {
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
    filter: grayscale(100%);
    filter: contrast(0.3);
}

.Est_Pat_Int_Lis img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
    filter: none;
}

/* .Est_Pat_Int_Lis_Ite {
    animation: ScrollLeft infinite linear 40s;
} */

@keyframes ScrollRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(calc(0% - var(--gap)));
    }
}

@keyframes ScrollLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

