.Est_Foo {
    margin: 50px 0 0 0;
    background: var(--Bkg001);
}

.Est_Foo_Int {
    display: flex;
    flex-direction: column;
}

.Est_Foo_Int_Lis {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>> Area 001 */
.Est_Foo_Int_Are_001 {
    /* padding: 0px 0 40px 0; */
    border-top: 1px solid #161616;
}
/* Logo rodapé */
.Est_Foo_Int_Are_001_Log {
    max-width: 200px;
    margin: 0 auto;
}

.Est_Foo_Int_Are_001_Log img {
    width: 100%;
}

.Est_Foo_Int_Are_001_Red {
    display: flex;
    gap: 20px;
    justify-content: center;
    border-bottom: 1px solid var(--Bkg002);
    border-top: 1px solid var(--Bkg002);
    padding: 8px 0;
    margin: 40px 0;
}

.Est_Foo_Int_Are_001 .Est_Foo_Int_Are_001_Red a {
    color: var(--Bkg000);
    font-size: 26px;
}

.Est_Foo_Int_Are_001 .Est_Foo_Int_Are_001_Red a:hover svg path {
    fill: red;
}

/* >>>>>>>>>>>>>>>>>>>>>> Area 002 */
.Est_Foo_Int_Are_002 {
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 20px; */
    /* max-width: 900px; */
    /* margin: 0 auto; */
    /* place-items: center; */
    /* display: flex; */
    padding: 20px 0;
}

.Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Men {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* padding: 0 40px; */
}

/* Area 002 Menu Listagem */
.Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Men .Est_Foo_Int_Are_002_Men_Lis {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 12px;
}

.Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Men .Est_Foo_Int_Are_002_Men_Lis h4 {
    color: var(--Tex000);
    font-size: 14px;
    font-weight: 600;
}

.Est_Foo_Int_Are_002
    .Est_Foo_Int_Are_002_Men_Lis
    .Est_Foo_Int_Are_002_Men_Lis_Ite
    a {
    color: var(--Tex000);
    font-size: 14px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}

.Est_Foo_Int_Are_002
    .Est_Foo_Int_Are_002_Men_Lis
    .Est_Foo_Int_Are_002_Men_Lis_Ite
    a::before {
    content: "";
    position: relative;
    width: 4px;
    height: 4px;
    background: var(--Bkg002);
    border-radius: 50%;
}

.Est_Foo_Int_Are_002
    .Est_Foo_Int_Are_002_Men_Lis
    .Est_Foo_Int_Are_002_Men_Lis_Ite
    a:hover {
    text-decoration: underline;
}

/* Area 002 Redes Sociais */
.Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Red {
    display: flex;
    gap: 20px;
}

.Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Red a {
    color: var(--Bkg000);
    font-size: 26px;
}

/* .Est_Foo_Int_Are_002 .Est_Foo_Int_Are_002_Red a svg{
    fill: wheat;
} */

/* >>>>>>>>>>>>>>>>>>>>>> Area 003 */
.Est_Foo_Int_Are_003 {
    border-top: 1px solid #161616;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.Est_Foo_Int_Are_003 .Est_Foo_Int_Are_003_Dir p {
    font-size: 10px;
    max-width: 60ch;
    margin: 8px 0;
    color: var(--Tex000);
}

.Est_Foo_Int_Are_003 .Est_Foo_Int_Are_003_Log {
}
